name: Terraform Apply

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: terraform/envs/prod
        env:
          TF_VAR_catalog_db_password: ${{ secrets.TF_VAR_catalog_db_password }}
          TF_VAR_orders_db_password: ${{ secrets.TF_VAR_orders_db_password }}
        run: terraform init -input=false

      - name: Terraform Apply
        working-directory: terraform/envs/prod
        env:
          TF_VAR_catalog_db_password: ${{ secrets.TF_VAR_catalog_db_password }}
          TF_VAR_orders_db_password: ${{ secrets.TF_VAR_orders_db_password }}
        run: terraform apply -auto-approve -input=false

      - name: Generate grading.json
        working-directory: terraform/envs/prod
        run: terraform output -json > ../../grading.json

      - name: Upload grading.json artifact
        uses: actions/upload-artifact@v4
        with:
          name: grading-json
          path: terraform/grading.json

      - name: Who am I
        run: aws sts get-caller-identity
