name: Terraform Plan

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Plan
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: terraform/envs/prod
        run: terraform init -input=false

      - name: Terraform Validate
        working-directory: terraform/envs/prod
        run: terraform validate

      - name: Terraform Plan
        working-directory: terraform/envs/prod
        run: terraform plan -input=false

      - name: Terraform Apply
        working-directory: terraform/envs/prod
        run: terraform apply -auto-approve -input=false
